a {
    cursor: pointer;
}

p {
    white-space: pre;
}

.highlighter-rouge {
    margin-bottom: 1rem
}

.table-white {
    background-color: white;
}

.rounded-circle.text-only {
    overflow: hidden;
    padding-top: 9px;
    word-break: keep-all;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#book-contents ul {
    padding-inline-start: 1.5em;
}

#book-contents>ul {
    padding-inline-start: 1em;
}

@media (min-width: 576px) {
    #book-contents .dropdown-list {
        width: 50rem !important;
    }
}