{% assign sidebar = site.data.sidebars[include.key][include.subkey] %}
{% if sidebar %}
<li>
  <a href="#{{include.key}}_{{include.subkey}}" data-toggle="collapse" class="collapsed">
    <i class="fa fa-fw {{sidebar.fa}}"></i>
    <span>{{sidebar.title}}</span>
    <i class="icon-submenu lnr lnr-chevron-left"></i>
  </a>
  <div id="{{include.key}}_{{include.subkey}}" class="collapse">
    <ul class="nav">
      {% for item in sidebar.items %}
      <li>
        {% if item.type == "header" %}
        <h6 class="collapse-header">{{item.title}}</h6>
        {% else %}
        <a href="{{sidebar.baseurl}}{{item.url}}">{{item.title}}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</li>
{% endif %}