{% assign sidebar = site.data.sidebars[include.key][include.subkey] %}
{% if sidebar %}
<li class="nav-item">
  <a class="nav-link collapsed" data-toggle="collapse" data-target="#{{include.key}}"
    aria-expanded="true" aria-controls="{{sidebar.title | url_encode}}">
    <i class="fas fa-fw {{sidebar.fa}}"></i>
    <span>{{sidebar.title}}</span>
  </a>
  <div id="{{include.key}}" class="collapse" aria-labelledby="{{include.key}}"
    data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      {% for item in sidebar.items %}
      {% if item.type == "header" %}
      <h6 class="collapse-header">{{item.title}}</h6>
      {% else %}
      <a class="collapse-item" href="{{sidebar.baseurl}}{{item.url}}">{{item.title}}</a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</li>
{% endif %}