<nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand" style="min-width:217px">
        <a href="/">Tqoon DevTeam</a>
    </div>
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
        {% include topnav_search.html %}
        <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                {% if page.history %}
                {% include history.html %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>