<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{page.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/vs.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/vendor/chartist/css/chartist-custom.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/common.css">
    {% if page.styles %}
    {% for path in page.styles %}
    <link href="/css/{{path}}" rel="stylesheet">
    </script>
    {% endfor %}
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/vendor/chartist/js/chartist.min.js"></script>
    <script src="/js/klorofil-common.js"></script>
    <script src="/js/common.js"></script>
    {% if layout.bookcontents %}
    <script src="/js/bookcontents.js"></script>
    {% endif %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include topbar.html %}
        {% include sidebar.html %}
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="main">
                    <div class="main-content">
                        {% if layout.bookcontents %}
                        {% include bookcontents.html %}
                        {% endif %}
                        <div class="container-fluid">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            {% include footer.html %}
        </div>
    </div>
</body>

</html>